# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.whl
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
*.log.*
logs/

# Experiment tracking
wandb/

# Data files
*.json
*.jsonl
!**/alpaca-data-conversation.json
**temp_data**

# Checkpoints and outputs
checkpoints/
ckpts*/
output/
outputs/
serve_images/
images/

# Hydra
.hydra/
multirun/

# Editors and OS
.idea/
.vscode/
*.swp
.DS_Store

# Project specific
playground/
lmms/
notebooks/
tests/
analyze/
illusion/
img/
inference/
train_scripts/
train_dromo.py
llava/
backups/

# DevContainer
!.devcontainer/*

# pixi environments
.pixi/*
!.pixi/config.toml
