defaults:
  - hydra: default
  - model: default
  - data: default
  - training: default
  - tokenizer: default
  - tokens: default
  - logging: default
  - messages: default
  - heartbeat: default
  - prompts: default
  - media: default
  - accelerate: default
  - _self_
